<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@400;500&family=Nunito+Sans:wght@200;300;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="flex-div" id="#about-div">
        <div id="about-text">
            <h1>About Solomun</h1>
            <p>
                Mladen Solomun (Travnik, Bosnia y Herzegovina, 27 de diciembre de 1975) o mejor conocido por su nombre artístico Solomun, es un DJ y productor musical Bosnio.
    
                Inició su carrera como DJ en el 2004 y es un productor musical activo desde 2005, fundador de la disquera Diynamic en 2006 junto con su socio, Adriano Trolio. Su primer EP en Diynamic, Solomun EP, fue lanzado en 2006. Desde entonces ha lanzado muchos otros EP y compilaciones así como el álbum “Dance Baby” en 2009. En 2011 lanzó una nueva disquera llamada 2DIY4.
                
                Actualmente Solomun, es uno de los DJ más reconocidos a nivel mundial y su nombre está a la altura de otros productores y DJ de la talla de Paul Kalkbrenner. Su estilo de música elegante y eufórica en muchos momentos suele asemejarse, e incluso en algunos conciertos y festivales se suele escuchar el famoso cántico que dice “Paul Kalkbrenner, Paul Kalkbreeenner, Paul Kalkbrener es el mejor, y después el Solomun”.
                
                A finales de junio de 2014 ya le pertenecía la discoteca Ego, dirigida por su hermana y Adriano Trolio. La música de Solomun está inspirada por R&B, Funk, Soul, Hip hop, Disco o música de los años 80. Su sonido ha sido descrito como “música house, pero con un bajo ultra funky, melodías eufóricas y letras emocionalmente cargadas.”.1​
                
                En el 2011, su remix “Around”(Noir & Haze) fue seleccionado el Remix del año por Resident Advisor. En el 2012, fue nombrado DJ del año,2​ productor del año por el DJ Awards en Ibiza,3​ y Mejor DJ internacional por the Cool Awards en Brasil.
            </p>
        </div>
        <div id="about-btns">
            <a class="btn works-btn" href="#">works</a>
            <a class="btn gallery-btn" href="#">gallery</a>
            <a class="btn home-btn" href="#">home</a>
        </div>     
    </div>
        
</body>
</html>