<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>photo gallery</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@400;500&family=Nunito+Sans:wght@200;300;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="flex-div" id="gallery-div">
        <h1>Gallery</h1>
        <div id="photo-gallery">
            <img src="./images/6313fb5a-822f-410c-a29d-9c82bff5cd26_16-9-aspect-ratio_default_0.jpg" alt="">
            <img src="./images/solomun_2.jpg" alt="">
            <img src="./images/Solomun_1320_Facebook_2016.jpg" alt="">
            <img src="./images/solomun-10413.-1x1780-1.jpg" alt="">
            <img src="./images/Solomun-OCASO-Festival-Costa-Rica-2022.png" alt="">
            <img src="./images/SOLOMUN.jpg" alt="">
        </div>
        <div id="gallery-btns">
            <a class="btn works-btn" href="#">works</a>
            <a class="btn about-btn" href="#">about</a>
            <a class="btn home-btn" href="#">home</a>
        </div>  
    </div>
</body>
</html>