<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>works</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@400;500&family=Nunito+Sans:wght@200;300;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="flex-div" id="works-div">
        <div id="wordks-text">
            <h1>Albums and EPs</h1>
            <ul>
                <li>2005</li>
                <li>Galaxy Empire – Mudra Records</li>
                <li>Jackpot – Schanzen Rec. – Compilación en disco compacto</li>
                <li>Frei – Schanzen Rec. – Compilación en disco compacto</li>
                <li>2007</li>
                <li>Do It Yourself EP – Diynamic Music</li>
                <li>Nachrichten EP – Diynamic Music</li>
                <li>Oelkersallee EP – Diynamic Music</li>
                <li>Solomun EP – Diynamic Music</li>
                <li>2007</li>
                <li>Feuer und Eis EP – Diynamic Music</li>
                <li>Hooked / Jungle River Cruise – liebe*detail</li>
                <li>Koboldmaki – Sonar Kollektiv</li>
                <li>Meerkats – Sonar Kollektiv</li>
                <li>Mischwaren EP – Diynamic Music</li>
                <li>Sambada EP – Dessous Recordings</li>
                <li>Second Kiss in Winter / Four Seasons EP – Diynamic Music</li>
                <li>2008</li>
                <li>Deadman/Beauty and the Beast – Four:Twenty</li>
                <li>Ghostdog / Trilogy EP – Diynamic Music</li>
                <li>Flying Pics EP – Diynamic Music</li>
                <li>Beauty and the Beast / Dead Man – Four:Twenty</li>
                <li>Black Rose / Trickski Remix – Sonar Kollektiv</li>
                <li>Woodstep EP – Dessous</li>
                <li>International Hustle EP – Four:Twenty</li>
                <li>Argy and Solomun – Focus On – Poker Flat</li>
                <li>Midnight Call EP – Compost black</li>
                <li>Federgewicht EP – Diynamic Music</li>
                <li>2009</li>
                <li>Carnivale / Factory – Phil e</li>
                <li>Dance Baby – Diynamic Music</li>
                <li>2010</li>
                <li>Sisi EP - Leena Music</li>
                <li>2011</li>
                <li>Daddy's Jam – Rebellion</li>
                <li>Love Recycled EP – 2DIY4</li>
                <li>Zappzerapp EP – Diynamic Music</li>
                <li>Challenge Everyday EP – Diynamic Music</li>
                <li>Something We All Adore EP – Supernature</li>
                <li>2012</li>
                <li>Living On – from: 5 years Diynamic Charity Compilation – Diynamic Music</li>
                <li>Kackvogel – Watergate Records</li>
                <li>2013</li>
                <li>Bootcamp - Diynamic Music</li>
                <li>2014</li>
                <li>Samson - Diynamic Music</li>
                <li>Friends – 2DIY4</li>
                <li>2015</li>
                <li>Nada - Zora EP</li>
                <li>Zora - Zora EP</li>
                <li>2018</li>
                <li>Dre - Customber is king EP</li>
                <li>Ich muss los - Customer is king EP</li>
                <li>Customber is king - Customer is king EP</li>
                <li>2020</li>
                <li>Home - Nobody is not loved</li>
            </ul>
        </div>
        <div id="works-btns">
            <a class="btn gallery-btn" href="#">gallery</a>
            <a class="btn about-btn" href="#">about</a>
            <a class="btn home-btn" href="#">home</a>
        </div>  
    </div>
</body>
</html>