h1, h2, h3, h4, h5 {
    font-family: 'Noto Serif Display', serif;
    text-align: center;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    width: 600px;
    margin: 40px 0px;
}


.flex-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.btn {
    font-family: 'Noto Serif Display', serif;
    font-weight: 600;
    color: black;
    text-decoration: none;
    border-bottom: 5px aquamarine solid;
    border-top: 5px aquamarine solid;
    margin: 0 10px;
    font-size: 20px;
}

ul {
    list-style: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-right: 39px;
    margin-bottom: 40px;
}

img {
    width: 300px;
}

#photo-gallery {
    width: 910px;
    margin-bottom: 50px;
    margin-top: 10px;
}

#works-btns {
    margin-bottom: 40px;
}

#home-div {
    margin-top: 220px;
}

#home-btns {
    margin-top: 15px;
}

#home-text p {
    font-size: 20px;
    margin: 40px auto;
}

#home-text h1 {
    font-size: 50px;
}

#about-text p:last-child {
    font-size: 14px;
    font-style: italic;
}

#works-text li:last-child {
    font-size: 14px;
    font-style: italic;
    margin-top: 20px;
}